/* Audio Player Styles */
body {
  background-color: black;
}
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.audio-container {
  position: relative;
  width: 80%;
}

audio {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #ebebeb;
  border-radius: 10px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 5px 10px;
  height: 100px;
}

button,
#repeat-btn {
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 10px 10px;
  margin: 2px 2px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.fa {
  margin-left: 5px;
}

input[type="range"] {
  width: 71%;
  margin: 0 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 16px;
  background-color: #ebebeb;
  border-radius: 10px;
}

.playlist {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
  margin: 5px;
  background-color: #ebebeb;
  border-radius: 10px;
  cursor: pointer;
}

li:hover {
  background-color: #dcdcdc;
}

.active {
  background-color: #333;
  color: #fff;
}
#img {
  border-radius: 50%;
}

/* #repeat-btn {
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 10px 10px;
  margin: 2px 2px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
} */

#repeat-btn.active {
  background-color: #ff0000;
  color: #ffffff;
}
